<html>
	<body>
        <tr>
          <td>{{squirrel.Latitude}}</td>
          <td>{{squirrel.Longitude}}</td>
	  <td>{{squirrel.Unique_Squirrel_ID}}</td>
          <td>{{squirrel.Shift}}</td>
          <td>{{squirrel.Date}}</td>
          <td>{{squirrel.Age}}</td>
          <td>{{squirrel.Primary_Fur_Color}}</td>
          <td>{{squirrel.Location}}</td>
          <td>{{squirrel.Specific_Location}}</td>
          <td>{{squirrel.Running}}</td>
          <td>{{squirrel.Chasing}}</td>
          <td>{{squirrel.Climbing}}</td>
          <td>{{squirrel.Eating}}</td>
          <td>{{squirrel.Foraging}}</td>
          <td>{{squirrel.Other_Activities}}</td>
          <td>{{squirrel.Kuks}}</td>
          <td>{{squirrel.Quaas}}</td>
          <td>{{squirrel.Moans}}</td>
          <td>{{squirrel.Tail_Flags}}</td>
          <td>{{squirrel.Tail_Twitches}}</td>
          <td>{{squirrel.Approaches}}</td>
          <td>{{squirrel.Indifferent}}</td>
          <td>{{squirrel.Runs_From}}</td>
	</tr>
	</body>
</html>

